:root{
  --orange: hsl(25, 97%, 53%);

  --light-grey: hsl(217, 12%, 63%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

*,*::before, *::after{
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

html{
  font-size: 15px;
}

body{
  margin: 0;
}

.wrapper{
  background-color: var(--very-dark-blue);
  min-height: 100vh;
}

.card__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  min-height: 100vh;
}

.card{
  background: linear-gradient(to bottom, hsl(213, 19%, 18%), hsla(213, 19%, 18%, 0.3));
  padding: 2.5rem;
  border-radius: 25px;
  max-width: 420px;
  display: flex;
  flex-direction: column;
}

.star__container{
  padding: 13px 15px;
  border-radius: 50%;
  background-color: var(--dark-blue);
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative;
  top: 0;
  right: 0; */
  transform: translate(35%, -35%);
  cursor: pointer;
  align-self: flex-end;
  box-shadow: -2px 1px 5px var(--very-dark-blue);

  &:active{
    transform: translate(33%, -34%);
    box-shadow: none;
  }
}

svg{
  width: 15px;
  fill: var(--orange);
}

h1{
  font-size: 2rem;
  margin-block: 0;
}

p{
  color: var(--light-grey);
  line-height: 1.7;
  font-size: 1.02rem;
  font-weight: 400;
  /* margin-right: 2rem; */
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.rating{
  cursor: pointer;
  width: 45px;
  aspect-ratio: 1;
  font-weight: 700;
  background-color: hsl(213, 19%, 20%);
  color: var(--light-grey);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  transition: all 0.2s;
}
.rating:hover{
  background-color: var(--orange);
  color: black;
}
.selected{
  background-color: white;
  color: black;
}

.btn{
  margin-top: 2rem;
  background-color: var(--orange);
  border-radius: 50px;
  height: 3rem;
  padding-top: 0.25rem;
  letter-spacing: 2px;
  font-size: 1.15rem;
  font-weight: 700;
  outline: none;
  border: none;
  transition: all 0.2s;
  cursor: pointer;
}

.btn:hover{
  background-color: white
}

.thank-you__card{
  background: linear-gradient(to bottom, hsl(213, 19%, 18%), hsla(213, 19%, 18%, 0.3));
  padding: 2.5rem;
  border-radius: 25px;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.thank-you__card img{
  margin-top: 15.3px;
}

.user-rating{
  margin-block: 1.5rem;
  padding: 0.8rem 1.2rem 0.5rem 1.2rem;
  background-color: hsl(213, 19%, 23%);
  color: var(--orange);
  font-size: 400;
  border-radius: 25px;
}
h2{
  margin-block: 20px 14px;
  font-size: 1.8rem;
}

.thank-you__card p{
  text-align: center;
  margin-right: 0;
  margin-block: 0;
}

.feedback__container{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.feedback__container label{
  color: white;
  margin-bottom: 0.5rem;
}

textarea{
  resize: none;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 10px;
  height: 8rem;
  background-color: var(--dark-blue);
  color: var(--light-grey);
  scrollbar-width: none;

  &::placeholder{
    color: var(--light-grey);
    opacity: 0.5;
  }
}

/* textarea::-webkit-scrollbar {
  width: 5px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--light-grey);
} */

.radio__container{
  margin-top: 2rem;

  & label{
    color: var(--light-grey);
    font-size: 1.05rem;
    padding: 0.5rem 0.75rem;
    border-radius: 20px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    transition: all 0.2s;

    &:hover{
      background-color: var(--dark-blue);
    }
  }
}
span{
  height: 1rem;
}
.radios{
  display: flex;
  gap: 1rem;
}

legend{
  margin-bottom: 0.5rem;
}

input[type="radio"]{
  /* display: none; */
  cursor: pointer;
  margin-right: 0.5rem;
  accent-color: var(--orange);
  appearance: none;
  /* width: 15px;
  height: 15px; */
  /* background-color: var(--dark-blue); */
  /* border-radius: 50%; */
  margin: 0;
  display: flex;

  &::before{
    display: inline-block;
    content: '';
    box-shadow: inset 0 0 0 2px var(--light-grey);
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
  }
}

input[type="radio"]:checked::before{
  box-shadow: inset 0 0 0 3px var(--orange);
}

.error{
  color: var(--orange);
  position: relative;
  bottom: -1rem;
  font-size: 0.85rem;
}

footer{
  margin-top: 1rem;
  color: var(--light-grey);
  font-size: 0.8rem;

  a{
    color: var(--orange);
  }
}